.button {
    color: #569ce3;
    cursor: pointer;
    padding: 0px 40px;
    line-height: 2.7em;
    letter-spacing: 1.5px;
    font-size: 1em;
    position: relative;
    font-size: 16px;
    border: 2px solid #fff;
    background-color: transparent;
    border-radius: 0 15px 0px 15px;
    border-color: #569ce3;
}

.button:hover {
    color: white;
    border-color: #569ce3;
    background-color: #569ce3;
}
